body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: linear-gradient(180deg, rgba(15, 2, 2, 0), rgb(10, 10, 10)), url('Banner\ Image.png');
    width: 1220px;
    height: 550px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 16px;
    margin: auto;
    background-size: cover;
}

.banner {
    text-align: center;
    color: #FFF;
    padding: 80px;
}

.first {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

.second {
    font-size: 70px;
    width: 600px;
    height: 150px;
    margin: auto;
}

/* Main Section */
.offer {
    display: block;
}

.discount {
    text-align: center;
    background: #FFF;
}

.happy {
    margin: 50px auto 80px;
    width: 700px;
    height: 400px;
    padding-left: 300px;
}

.off {
    color: #F00;
    font-size: 80px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 30px;
}

.holiday {
    color: #F00;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0%;
}

.category {
    color: #070211;
    font-size: 50px;
    font-weight: 600;
    margin: 0%;
}

.Wel-section {
    background-image: linear-gradient(to left, rgba(15, 2, 2, 0), rgb(10, 10, 10)), url('../resources/Vectorrr.png');
    margin: auto;
    background-repeat: no-repeat;
    width: 1220px;
    height: 550px;
}

.wel {
    display: flex;
}

.welcome {
    margin: 30px;
    padding: 30px;
    color: #FFF;
}

.Wel-title {
    font-size: 60px;
    font-weight: 800;
    line-height: 88px;
    width: 640px;
    margin-bottom: 20px;
}

.wel-des {
    font-size: 20px;
    font-weight: 400;
}
 .images { 
    padding-top: 40px;
    width: 400px;
    height: 450px;
    margin-right: 20px;
    background:none;
}

.welcome>button {
    margin-left: 50px;
    margin-top: 20px;
}

.Event {
    width: 600;
    height: 300;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border: 10px;
    padding: 100px;
    border-radius: 6px 5px;
    background-size: contain;
    margin: 50px;
    background-color: rgb(241, 224, 227);
}

span {
    color: #F00;
}

.btn {
    border-radius: 5px;
    background: #F00;
    display: inline-flex;
    padding: 15px 30px;
    gap: 10px;
    border: 50%;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

.new {
    display: flex;
    width: 1000px;
    height: 450px;
    margin: auto;
    border-radius: 5px;
    background: rgb(248, 245, 245);
    border:50%
}

.best {
    color: #F00;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.soon {
    color: #070211;
    font-size: 40px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}
.des {
    color: rgb(10, 10, 10);
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
}
.eli {
    width: 360px;
    height: 360px;
    margin:30px 20px 30px;
    border: 8px solid red;
    border-radius: 50%;
    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.block {
    display: block;
}
.year {
    margin: 50px auto 10px;
    color: #F00;
    font-size: 48px;
    font-weight: 500;
}
.dream {
    color: rgb(10, 10, 10);
    font-size: 18px;
    font-weight: 350;
    width: 276px;
}
.sale-item{
    text-align: center;
}

.img-list{
    background-image:url('/resources/Rectangle\ 2.png');
    background-size: 50%;
    border-radius: 16px 0px 16px 16px;
    background-repeat: no-repeat;
    width: 1600px;
    height: 650px;
    position: absolute;
    background-position: bottom;
}
.gr75{
    margin-bottom: 1000px;
    position: relative;
}
.port{
     /* width: 1200px;
    height: 400px; */
    background-color: #FFF;
    border: 10px;
    padding-bottom: 100px; 
    border-radius: 6px 5px;
    width: 1120px;
    height:800px;
    margin: auto; 
    margin-bottom: 100px;
}
.port-des{
    margin-left:50px;
    margin-top:10px;
}
.port-items{
    display: flex;
}
.port-img{
    margin-left: 10px;
    width: 350px;
    height: 350px;
}
.Awesome{
    color: #070211;
font-size: 40p;
font-weight: 800;
}
.para{
    color: rgba(7, 2, 17, 0.60);
font-size: 18px;
font-weight: 900;
}
.gifts{
    color: #F00;
font-size: 22px;
font-weight: 400;
margin-bottom: 10px;
}
.subs{
    display: block;
    text-align: center;
    width: 900px;
height: 350px;
border: 10px;
padding: 100px;
border-radius: 6px 5px;
margin: 50px;
background-color: rgb(241, 224, 227);
background-position: center;
background-size: contain;
margin: auto;
}
.par{
    width: 800px;
    text-align: center;
}
.sub-btn{
    color: #FFF;
    background-color: #F00;
    background-size: cover;
    margin-left:0;
    border-radius: 0px 50px 50px 0px;
}
.sub{
    color: #070211;;
font-size: 45px;
font-weight: 800;
margin-left: 10px
}
footer{
    background-color: black;
    margin-top: 50px;
    background-size: cover;
height: 400px;
color: #FFF;
}
.footer-des{
    display: flex;
    gap:400px;
    padding-top:80px;
}
.web{
    padding-left: 50px;
font-size: 22px;
font-weight: 250;
}
.webs{
    padding-left: 50px;
    font-size: 22px;
    font-weight: 250;
    padding-top: 80px;

}
.res{
    display: flex;
    gap:800px;
}
.unsub{
    background-color: #FFF;
    color: black;
font-size: 22px;
font-weight: 500;
background-size:50%;
border-radius: 2px 2px 2px 2px;
border: 8px;
width: 145px;
height: 40Px;
margin-top:80px;
}
.links{
    padding-left: 600px;
    margin-top: 30px;
}
    